---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/controller_credential_input_sources
controller_credential_input_sources: []

# Environment specific lists
# controller_credential_input_sources_dev: []
# controller_credential_input_sources_prod: []
...