---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/controller_credential_types
controller_credential_types: []

# Environment specific lists
# controller_credential_types_dev: []
# controller_credential_types_prod: []
...